---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Transformando Vidas: Fundación []"
description="Es una">
	<main>
		
	</main>
</Layout>