---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProfileCheck from '../components/icons/ProfileCheck.astro';
import AboutMe from '../components/AboutMe.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout title="Transformando Vidas: Fundación Dios de pactos"
description="Es una">
	<main class="px-4">
		<SectionContainer id="inicio" class="py-16 md:py-36">
		<Hero>
			</slot>
		</Hero>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="images" class="py-28">
				<h2
				  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
				>
				  <ProfileCheck class="size-8" />
				  Imagenes
				</h2>
				<Carousel />
			</SectionContainer>
			<SectionContainer id="sobre-nosotros">
				<h2
				  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
				>
				  <ProfileCheck class="size-8" />
				  Sobre la fundación
				</h2>
				<AboutMe />
			  </SectionContainer>
			  <SectionContainer id="donacion">
				<h2
				  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
				>
				  <ProfileCheck class="size-8" />
				  Donaciones
				</h2>
			  </SectionContainer>
		</div>
	</main>
</Layout>