---
 const personalImageAlt = "Fundación"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 font-semibold [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        "Dios de Pactos" es una organización sin ánimo de lucro dedicada a promover el desarrollo comunitario, brindar apoyo educativo, fomentar la inclusión tecnológica, etc.  
    </p>

    <p>
        Con un compromiso firme hacia la mejora de la calidad de vida, la educación accesible, el empoderamiento de comunidades desfavorecidas, trabajamos incansablemente para ofrecer talleres de formación, implementar proyectos comunitarios, proporcionar recursos y apoyo.
    </p>

    <p>
        A través de métodos o enfoques utilizados, buscamos crear un impacto positivo y duradero en jóvenes, comunidades locales, individuos en situación de vulnerabilidad. Nuestra visión es un mundo más inclusivo, oportunidades equitativas para todos, comunidades fortalecidas.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>